@font-face {
    font-family: 'OptimusPrinceps';
    src: url('OptimusPrinceps.ttf');
}

@font-face {
    font-family: 'OptimusPrincepsSemiBold';
    src: url('OptimusPrincepsSemiBold.ttf');
}

h1 {
    font-family: 'OptimusPrinceps', serif;
    font-size: 3rem;
}

body {
    color: #e9d8a5;
    border-color: #e9d8a5;
    background-color: #111;
}

::selection {
    color: #111;
    background-color: #e9d8a5;
}

option:checked {
    color: #111;
    background-color: #e9d8a5;
}

input, select {
    color: #e9d8a5;
    border-color: #e9d8a5;
    background-color: #222;
    border-width: 2px;
    border-radius: 0;
    font-family: sans-serif;
}

input[type="button"] {
    width: 5rem;
    flex-shrink: 0;
}

input[type="text"] {
    width: 100%;
}

div {
    display: flex;
    gap: 3px;
}

div.horizontal {
    flex-direction: row;
}

div.vertical {
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

div.files {
    align-self: flex-start;
    width: 100%;
}

#title {
    width: 100%;
    justify-content: center;
    position: relative;
}

#disclaimer {
    font-family: monospace;
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
}

#license {
    color: #e9d8a5;
}

#license:visited {
    color: #9b906e;
}

#lhs-file, #rhs-file {
    display: none;
}

#log {
    font-family: monospace;
    width: min-content;
    min-width: 100%;
    height: 10rem;
    overflow-y: auto;
    overflow-x: hidden;
    margin: 3px;
    color: #555;
}

select {
    width: 24rem;
    overflow: hidden;
}
